default:
  image: docker:26

  services:
    - docker:26-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375

stages:
  - program_a
  - program_b
  - compare

# ---------- BUILD AND RUN A----------
program_a:
  stage: program_a
  script:
    - docker info
    - docker build -t program_a ./program_a
    - docker run --rm
        -v $CI_PROJECT_DIR/tests:/tests
        -v $CI_PROJECT_DIR/program_a/results:/results
        program_a
  artifacts:
    paths:
      - program_a/results

# ---------- BUILD AND RUN B ----------
program_b:
  stage: program_b
  script:
    - docker info
    - docker build -t program_b ./program_b
    - docker run --rm
        -v $CI_PROJECT_DIR/tests:/tests
        -v $CI_PROJECT_DIR/program_b/results:/results
        program_b
  artifacts:
    paths:
      - program_b/results

# ---------- COMPARE ----------
compare_results:
  stage: compare
  image: python:3.10
  dependencies:
    - program_a
    - program_b
  script:
    - python compare.py results_a results_b
