default:
  image: docker:26

  services:
    - docker:26-dind

variables:
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: tcp://docker:2375

stages:
  - build
  - run
  - compare

# ---------- BUILD ----------
build_a:
  stage: build
  script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t "$IMAGE_A:latest" ./program_a
    - docker push "$IMAGE_A:latest"

build_b:
  stage: build
  script:
    - docker info
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t "$IMAGE_B:latest" ./program_b
    - docker push "$IMAGE_B:latest"

# ---------- RUN ----------
run_a:
  stage: run
  script:
    - docker pull "$IMAGE_A:latest"
    - docker run --rm
        -v $CI_PROJECT_DIR/tests:/tests
        -v $CI_PROJECT_DIR/program_a/results:/results
        program_a
  artifacts:
    paths:
      - program_a/results

run_b:
  stage: run
  script:
    - docker pull "$IMAGE_B:latest"
    - docker run --rm
        -v $CI_PROJECT_DIR/tests:/tests
        -v $CI_PROJECT_DIR/program_b/results:/results
        program_b
  artifacts:
    paths:
      - program_b/results

# ---------- COMPARE ----------
compare_results:
  stage: compare
  image: python:3.10
  dependencies:
    - run_a
    - run_b
  script:
    - python compare.py results_a results_b
